<h1><%= r18n.index.title %></h1>
<p class="warning">Twifakes is temporarily offline, but we are trying to return as soon as possible</p>
<!-- <p id="calculate"><a href="/connect"><%= r18n.index.button %></a></p> -->
<p class="info"><%= r18n.index.info %></p>
